$c-black: #000;
$c-blue: #33f;
$c-gray: #303031;
$c-whait: #ffffff;
$c-red: #f0242d;

$f-main: "TT Norms", sans-serif;
$f-headers: "TT Norms", sans-serif;

$z-fixed: 201;
$z-header: 200;
$z-popup: 199;
$z-mobile-nav: 198;
$z-sticky: 99;
