section.hero 
    .hero.container 
        .hero_right 
            h1 Монтаж дымоходов из нержавеющей стали для частных домов и предприятий
            ul.hero_main_list
                li.one 
                    p 15
                    span лет устанавливаем дымоходы для частных лиц и организаций
                li 
                    span Бесплатный выезд инженера в пределах 30 км. от Киева
                li 
                    span Монтаж под ключ от 1 дня, в наличии все разрешительные документы
            .hero_wrapper 
                .hero_wrapper_calc
                    .hero_wrapper1
                        p Рассчитайте стоимость монтажа вашего дымохода за 1 минуту и
                         b  получите скидку 15%
                    .hero_wrapper2 
                        a(href="") 
                            button.btn1 Рассчитать стоимость монтажа и получить скидку
                                span.flare
                                
                .hero_wrapper_slide 
                    .hero_text_slide 
                        p Лицензии и сертификаты в наличии
                    .hero_img_slide 
                        img(src="assets/images/sert1.jpg", alt="sert")
                        img(src="assets/images/sert2.jpg", alt="sert")
                        img(src="assets/images/sert3.jpg", alt="sert")
        .hero_left 
            img(src="assets/images/man.png", alt="man")
            .hero_left_text
                p.subtitle Виталий
                span.subtitle1 Сотрудник компании
                p.subtitle2 Опыт работы с дымоходами 9 лет