section.nav
    .nav.container 
        .nav_wrap 
            ul.nav_wrap_list 
                li 
                    a(href="") КАЛЬКУЛЯТОР
                li 
                    a(href="") УСЛУГИ
                li
                    a(href="") НАШИ РАБОТЫ
                li 
                    a(href="") ОТЗЫВЫ
                li 
                    a(href="") КОНСУЛЬТАЦИЯ
                li 
                    a(href="") ПРЕИМУЩЕСТВА 
                li 
                    a(href="") МОНТАЖ
                li 
                    a(href="") ВОПРОС-ОТВЕТ
                li 
                    a(href="") КОНТАКТЫ

